body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #4e4e4e;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  
  a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    
}
  #header h1 a{
    color: #fff;
    font-size: 28px;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 102320;
    background-color: rgb(4, 4, 4,0.9);
}


  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 30px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 80%;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #4e4e4e;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #0078ff;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }

    #header label #btn {
     color: white;
     font-size: 20px;
     margin-right: 30px;
     cursor: pointer;
     display: none;

    }
    #header label #cancel {
      color: white;
     font-size: 20px;
     margin-top: -19px;
     cursor: pointer;
     display: none;
    }
    #check{
      display: none;
    }

  
    @media screen and (max-width:991px){
      #header label #btn{
        display: block;
      }
      #header .fixed-top{
        background: rgba(78, 78, 78, 0.9);;
      }
      
    .navbar ul{
    position: fixed;
    display: block;
    top: 60px;
    right: 15px;
    bottom: 15px;
    /* left: 15px; */
    left: 100%;
    padding: 10px 0;
    background-color: #fff;
    flex-direction: column;
    transition: all ;
      }
      .navbar>ul>li{
        padding: 0;
      }
      .navbar a:hover:before,
      .navbar li:hover>a:before,
      .navbar .active:before {
        visibility: hidden;
      }
  .navbar a,
  .navbar a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #4e4e4e;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar li:hover>a {
    color: #0078ff;
  }
  .navbar .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #0078ff;
  }
  
  .navbar .dropdown>.dropdown-active {
    display: block;
  }
  body :has(#check:checked) .navbar ul{
    left: 15px;
  }
  body :has(#check:checked) label #btn{
    display: none;
  }
  body :has(#check:checked) label #cancel{
    display: block;
  }
  

}
#hero h1{
  color: #fff;
}
@media (min-width: 768px) {
  .hero .hero-title {
    font-size: 4.5rem;
    color: #fff;
  }
  
}
@media (min-width: 768px) {
  .hero .hero-subtitle {
    font-size: 2.5rem;
    color: #fff;
  }

}
@media (min-width: 768px) {
  .hero-single .hero-title {
    font-size: 3.5rem;
    color: #fff;
  }
}
@media (max-width: 785px) {
  #hero .type > span{
    font-size: 1.5rem;
  }
  }


  .hero{
    height: 100vh;
    color: #fff;
  }
  .bg-image {
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.hero .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.hero .hero-content {
    text-align: center;
    position: absolute;
}
.display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
@media screen and (max-width: 650px) {
#hero .hero-title {
    font-weight: 600;
    font-size: 72px;
    color: #fff;
}
#hero .type > span{
  font-size: 24px;
}
}
.type {
  display:inline-block;
  vertical-align: bottom;
  font-size: 40px;
  /* font-size: 24px; */
  font-weight: 600;
}

.type > span {
  display:grid;
  overflow: hidden;
  height:1.4em;
}

.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    c 0.5s infinite steps(1),  
    t 2s linear infinite alternate,
    m 12s steps(3) infinite;
}
.type span span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}

@keyframes c{
  0%,100%{box-shadow:5px 0 0 #0000}
  50%    {box-shadow:5px 0 0 #fff  }
}

@keyframes m{
  100% {transform:translateY(-300%)}
}

  #about{
    background-color: #F5F5F5;
    margin-block: 4rem;
  }
  .box-shadow-full {
    padding: 3rem 3rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  @media (min-width: 767px) {
    .about-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
  }
  .title-box-2 h5{
    position: relative;
  }
  .title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
  }
  
  .service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-box .ico-circle i {
    line-height: 0;
    font-size: 40px;
  }
  
  .service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }
  
  .service-box .s-description {
    color: #4e4e4e;
  }
  .bi-briefcase::before {
    content: "\f1cc";
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto 4rem auto;
}
.title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.counter-box {
    color: #fff;
    text-align: center;
  }
  
  @media (min-width: 577px) {
    .counter-box {
      margin-bottom: 1.8rem;
    }
  }
  
  .counter-ico {
    margin-bottom: 1rem;
  }
  
  .counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
  
  .counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .overlay-mf {
    background-color: #0078ff;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.bi-award::before {
    content: "\f154";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}
.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#work{
  margin-top: 100px;
}
#work .card  .w-more .w-ctegory {
  color: #0078ff;
}
#work .card .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
  
}
#work .card .card-body h2{
  font-size: 19px;
}
#work .card .w-more a span{
  color: #0078ff;
  font-size: 40px;
  top: -15;
}
#work .card .w-more a span i{
  height: 60px;
}

#work .card picture{
  display: inline-block;
  overflow: hidden; 
  
}
#work .card img {
  display: block;
  transition: transform .4s;
  transition: 1s ease all; 
}
#work .card:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
#work .header h2{
  font-size: 40px;
}
#work .header{
  text-align: center;
}
#work .header .line{
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto 1rem auto;
}


  .carousel-inner h5{
    color: white;

  }
  .carousel-inner{
    overflow: visible;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target]{
  width: 12px;
  height: 12px;
  margin: 5px;
}
#blog{
  margin-block: 90px;
}


#blog .card-footer img{
  width:35px;
  margin-right:10px;
}
#blog .card-body {
  position: relative;
}

#blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -14px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

#blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 4px 14px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

#blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

#blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.9rem;
  transition: all 0.5s ease-in-out;
}
#blog .card-footer span{
  transition: all 0.5s ease-in-out;
}
.card-text:last-child{
  margin-bottom: 0.6rem;
}

#blog .card {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
#blog .card-title:hover ,
#blog .card-footer span:hover{
    color: #0078ff;
}
@media (max-width: 760px) {
  .card-blog {
    width: 100%;
  }
}
.php-email-form input {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0;
}
#contact .php-email-form button[type=submit] {
  border-radius: 5rem;
  background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s
}
#contact .list-ico{
  list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 2;
}
#contact .list-ico span {
  color: #0078ff;
  margin-right: 10px;
}

#contact .socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
  text-align: center;
  position: relative;
}
#contact .socials{
  padding: 1.5rem 0;
  
}
#contact .socials a{
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  
}
#contact .socials ul{
  list-style-type: none;
  padding: 0;

}
#contact .socials ul li i{
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  
}
#contact .php-email-form button[type=submit]:hover{
  background: #3393ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  box-shadow: 0 0 0 4px #cde1f8;
  cursor: pointer;
}
#contact .socials .ico-circle:hover{
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}

footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}